[Unit]
Description=Send Passenger stats to Datadog
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
NotifyAccess=main
ExecStart=/usr/local/bin/passenger-datadog
Restart=on-failure
RestartSec=5s
# Run as root so passenger-status can see all Passenger instances.
User=root
Group=root

[Install]
WantedBy=multi-user.target
